
{% extends "root.html" %}
{% block title %} ventas {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ventas.css') }}">
    <div style="display: none;" class="oculto">
        <form id="cargar" >
            <input type="hidden" name="folder" id="nFolder">
        </form>
    </div>
    <div id="menu" class="menu_contextual">
        <p>Abrir</p>
        <p>cambiar nombre</p>
        <p>eliminar</p>
        <p>editar</p>
        <p>ver en stock</p>
        <hr>
        <p>propiedades</p>
    </div>
    <div class="superior">
        <button> <img style="width: 20px; margin-right: 5px;" src="../static/icons/search.png" alt=""><b style="color: white;">Buscar</b></button>
        <button> <img style="width: 20px; margin-right: 5px;" src="../static/icons/comment-alt-dots.png" alt=""><b style="color: white;">Comentario</b></button>
        <button> <img style="width: 20px; margin-right: 5px;" src="../static/icons/trash.png" alt=""><b style="color: white;">Vacias cesta</b></button>
        <form >
            <input type="text" style="height: 100%; outline: none; background: rgb(59, 59, 59); color: white;
            border: 1px solid rgb(44, 44, 44); box-sizing: border-box; padding: 0px 10px; width: 300px;
            font-family: monospace;" placeholder="Buscar por codigo de barras">
        </form>
    </div>
    <div class="contenedor">
        <div class="cuenta">
            <div id="pila" class="pila"></div>
            <div class="comprar" style="display: flex; flex-direction: column;">
                <div style="height: 100%;" class="total">
                    <div style="display: flex;"><p style=" width: 100%;">impuestos</p> <p id="impuestos"></p><p style="margin-left: 4px;">xaf</p></div>
                    <div style="display: flex;"><p style=" width: 100%;">total</p> <p id="ttl"></p><p style="margin-left: 4px;">xaf</p></div>
                </div>
                <div style="height: 50%; display: flex; justify-content: center;" class="botones">
                    <button style="box-sizing: border-box; padding: 3px; background-color: rgb(0, 0, 49); padding: 20px; width: 50%;" id="btnComprar" ><b>Vender</b></button>
                    <button style="box-sizing: border-box; padding: 3px; background-color: rgb(49, 0, 0); padding: 20px; width: 50%;" ><b>Cancelar</b></button>
                </div>
            </div>
        </div>
        <div id="panel" class="panel">
            {% for i in range(categorias.shape[0])%}
                <button style="box-sizing: border-box; padding: 40px; background-size: 70px;background-repeat: no-repeat;
                background-image: url(../static/icons/folder.png); background-position: center; margin: 10px;" 
                class="{{categorias['id_categoria'][i]}}" id="folder"><b>{{categorias['nombre_categoria'][i]}}</b></button>
            {%endfor%}
        </div>
    </div>
    <script>

        const btnComprar = document.getElementById("btnComprar");
        const impuestos = document.getElementById("impuestos");
        const ttl = document.getElementById("ttl");
        const menu = document.getElementById("menu");
        const pilaDiv = document.getElementById("pila");
        selecsionados = []
        total = []
        ganacia = []
        ganacia = 0
        total = 0

        ttl.innerHTML = total
        impuestos.innerHTML = ganacia

        btnComprar.addEventListener("click", function(){ comprar() })

        for(i = 0; i < panel.children.length; i++){
            panel.children[i].addEventListener("contextmenu", function (e) {
                e.preventDefault(); // Evita el menú predeterminado

                // Obtener posición y tamaño del botón
                const rect = this.getBoundingClientRect();

                // Posicionar el menú arriba del botón
                const top = window.scrollY + rect.top + (menu.offsetHeight / 2);
                const left = window.scrollX + rect.left;
                menu.style.top = `${top}px`;
                menu.style.left = `${left}px`;
                menu.style.display = "block";
            });
            document.addEventListener("contextmenu", function (e) {
                   e.preventDefault();
            });


            
            panel.children[i].addEventListener("dblclick", function(){
                tipo = this.id
                nombre = this.className
                if(tipo == "folder"){
                    var nFolder = document.getElementById("nFolder");
                    nFolder.value = nombre
                    $.ajax({
                    url : '/cargar',
                    data : $('#cargar').serialize(),
                    type : 'POST',
                    success : function(response){
                        ruta = nombre
                        if(response.length < 1){
                            panel. innerHTML = `
                            <div class="carpetaVasia">
                                    <h3>No hay articulos en esta categoria<h3>
                                        <p> as click en <a>+<a> para registrar un nuevo srticulo<p>
                            </div>`
                        }else{
                            let texto = ` <button style="border-radius: 10px; box-sizing: border-box; padding: 40px; background-size: coverx;background-repeat: no-repeat;
                            background-image: url(../static/icons/back.png); background-position: center; margin: 10px;" 
                            class="${item.id_producto}" id="folder"><b style = 'top: 72px;' class='${item.precio_unitario}' >volver</b></button>
                                `;
                            response.forEach((item, idx) => {
                            texto += `
                            <button ondblclick='addElemento(this)' style="border-radius: 10px; box-sizing: border-box; padding: 40px; background-size: coverx;background-repeat: no-repeat;
                            background-image: url(../static/image/productos/${item.id_categoria}/${item.imagen}); background-position: center; margin: 10px;" 
                            class="${item.id_producto}" id="folder"><b style = 'top: 72px;' class='${item.precio_unitario}' >${item.nombre}</b></button>`
                            });
                            panel.innerHTML = texto
                        }
                        
                    },
                    error : function(error){
                        console.log(error);
                    }
                });
                }
            })
        }
        
        function volver(){
            fetch('/carpetas')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('miDiv').innerHTML = data;
            });
        }

        
        function actualizarPila(){
            pilaDiv.innerHTML = '';
            
            for (let i = (selecsionados.length -1); i>= 0; i--){
                const item = document.createElement("div");
                const texto = document.createElement("p");
                const precio = document.createElement("p");
                item.className = "row"
                item.append(texto)
                item.append(precio)
                precio.className = "precio"
                texto.className = "producto"
                texto.textContent = selecsionados[i][0]
                precio.textContent = selecsionados[i][1] + 'xaf'
                pilaDiv.append(item)
            }
        }

        function addElemento(btn){
            const id = btn.textContent;
            const precio = btn.children[0].className 
            selecsionados.indexOf(id);
            selecsionados.push([id,precio])
            total = 0;
            selecsionados.forEach((item, indx) => {
                total += parseInt(item[1])
            });
            ttl.innerHTML = total
            actualizarPila();
        }

        function comprar(){
            datos = {
                "total" : total,
                "id_usuario" : `{{yo['id'][0]}}`,
                "id_cliente" : '0'
            }
            $.ajax({
                    url : '/ventas',
                    contentType: 'application/json',
                    data : JSON.stringify(datos),
                    type : 'POST',
                    success : function(response){
                    },
                    error : function(error){
                    }
                });
            total = 0
            ttl.innerHTML = ''
            selecsionados = []
            pilaDiv.innerHTML = ''
            ganacia = 0
            impuestos.innerHTML = ''
            alert("venta efectuada")
        }

document.addEventListener("click", function (e) {
  if (!menu.contains(e.target)) {
    menu.style.display = "none";
  }
});

    </script>
{% endblock %}
